#header {
  margin-bottom: 40px;
  background-color: #89bdd3;
}

.postbox {
  border: 2px solid black;
  border-radius: 15px;
}

.post-content {
  background-color: #e3e3e3;
  padding: 20px;
  border-radius: 20px;
}

button {
  border: none;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.box-one {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.box-one.ng-hide {
  opacity:0;
}

.item { }

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}
